.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 12px 7px #0000000a;
  border-radius: 40px 40px 0 0;
}
.navLinks {
  display: flex;
  justify-content: space-around;
  min-width: 30%;
}
.navLinks a {
  text-decoration: none;
  letter-spacing: -1px;
  font-weight: 500;
  font-size: 18px;
  color: #797979;
  transition: all 0.2s;
}
.navLinks a:hover {
  color: black;
}

.logo {
  position: relative;
  left: 1.5rem;
  height: auto;
  max-width: 6%;
}

@media screen and (max-width: 768px) {
  .navbar {
    border-radius: 0;
  }
  .navLinks {
    position: absolute;
    right: 0;
    top: 8vh;
    margin: 0;
    width: 100%;
    height: 92vh;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
    transform: translateX(100%);
    z-index: 1000;
  }

  .navActive {
    transform: translateX(0%);
  }
  .logo {
    max-width: 20%;
  }
  .navLinks a {
    font-size: 25px;
  }
}
