@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #d7d9e1;
  background-image: url(../src/assets/img/Circles.png);
  /* background-image: url(../src/assets/img/Circles2.png); */
}
.App {
  text-align: center;
  height: 80%;
  width: 80%;
  font-family: 'Quicksand', sans-serif;
  position: relative;
  border-radius: 50px 50px 5px 50px;
  background: #f2f3f7;
  /* box-shadow: 8px 8px 31px #a8b1ba, -8px -8px 31px #ffffff; */
  box-shadow: 0 20px 110px #00000000, 0 50px 50px #0e0f281f,
    0 71px 30px 21px #05050e14;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .App {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    border-radius: 0px;
  }
}
