.btnWrapp {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 8%;
  min-height: 40px;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 5px;
}

.newsBtn {
  color: #0f2137;
  font-weight: 700;
  font-size: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: -webkit-baseline-middle;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background: #fff;
  cursor: pointer;
  transition: 0.1s all;
  margin: 0 4px;
  border: none;
  font-family: 'Quicksand', sans-serif;
}
.active {
  font-weight: 700;
  font-size: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: -webkit-baseline-middle;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background: #fff;
  cursor: pointer;
  box-shadow: 1px 1px 13px #e8e8e8, -3px -2px 13px #ffffff;
  color: #0f2137;
  transition: 0.2s all;
  margin: 0 4px;
  border: none;
  font-family: 'Quicksand', sans-serif;
}
button:focus {
  outline: none;
}
button:disabled {
  color: #f0f8ff;
}

@media screen and (max-width: 768px) {
  .btnWrapp {
    overflow-x: hidden;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
  }
  .newsBtn {
    color: #b9b9b9;
  }
  .newsBtn,
  .active {
    font-size: 15px;
    width: 40px;
    height: 40px;
    margin: 0px;
    box-shadow: none;
  }
}
